.max{
    max-width: 1367px;
    background: black;
}
.flex-flow-wrap{
    flex-flow: row wrap;
}
.form-control::placeholder{
    color: #198754;
}
.form-control{
    color: #198754;
}
.border-bottom-s{
    border: 2px solid #198754;
}
#modalPayment,
#ModalTasks{
    display: none;
}